body {
  background-color: blue;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcp8qXm1AXjAJD6SVG4TNvtFMC79WGlkrbTQ&s");
  background-attachment: fixed;
  background-size: cover; */
}
